<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.vdg.respi55"
    android:versionCode="4"
    android:versionName="1.2" >
    <!--
         Respi 5/5

         Copyright 2014-2015 Julien Viard de Galbert

         This file is part of Respi 5/5.

         Respi 5/5 is free software: you can redistribute it and/or modify
         it under the terms of the GNU General Public License as published by
         the Free Software Foundation, either version 2 of the License, or
         (at your option) any later version.

         Respi 5/5 is distributed in the hope that it will be useful,
         but WITHOUT ANY WARRANTY; without even the implied warranty of
         MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
         GNU General Public License for more details.

         You should have received a copy of the GNU General Public License
         along with Respi 5/5.  If not, see <http://www.gnu.org/licenses/>.
    -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".FullscreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.vdg.respi55.FullscreenActivity" />
        </activity>
        <activity
            android:name=".TextActivity"
            android:parentActivityName=".FullscreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.vdg.respi55.FullscreenActivity" />
        </activity>
        <service
            android:name=".RespiStateManager" >
        </service>

    </application>

</manifest>
